Value ENABLED (UDLD Enabled)
Value MODE (Normal|Aggressive)
Value MSG_TIME (\d+)
Value MULTIPLIER (\d+)
Value ERR (UDLD not configured)

Start
  ^%Error: ${ERR} -> Record
  ^\s*UDLD Global Information\s*$$
  ^\s*Admin State        : ${ENABLED}\s*$$
  ^\s*Mode               : ${MODE}\s*$$
  ^\s*UDLD Message Time  : ${MSG_TIME} seconds\s*$$
  ^\s*UDLD Multiplier    : ${MULTIPLIER}\s*$$ -> Record

EOF
